#redefine-password {
	display: flex;
}

.paragraphs h2 {
	color: #5c8599;
}

.paragraphs p {
	margin-top: 15px;
	color: #5c8599;
	font-weight: 600;
}

#redefine-password main {
	width: 40%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: #ffffff;
	border: 1px solid #d3e2e5;
	box-sizing: border-box;
}

form.form-password {
	width: 80%;
}

form.form-password .input-block label {
	display: flex;

	color: #8fa7b3;
	margin-bottom: 8px;
	margin-top: 20px;
	line-height: 22px;
	font-size: 16px;
	font-weight: 600;
}

form.form-password .input-block input {
	width: 100%;
	background: #f5f8fa;
	border: 1px solid #d3e2e5;
	border-radius: 20px;
	outline: none;
	color: #5c8599;

	height: 54px;
	padding: 0 16px;
}

form.form-password .input-block input:focus {
	border-color: #3cdc8c;
}

form.form-password .enter-new-password {
	margin-top: 30px;

	width: 100%;
	height: 54px;
	border: 0;
	cursor: pointer;
	background: #3cdc8c;
	border-radius: 20px;
	color: #ffffff;
	font-weight: 800;

	text-decoration: none;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color 0.2s;
}

form.form-password .enter-new-password:hover {
	background: #36cf82;
}
