.page-orphanage-remove {
	width: 100vw;
	height: 100vh;
	background-color: #ff669d;

	display: flex;
	align-items: center;
	flex-direction: column;
}

.content-wrapper-orphanage-remove {
	width: 90%;
	height: 90%;

	padding-top: 25%;
	text-align: center;

	background: url("../../images/remove-orphanage.svg") no-repeat 80% center;
}

.header-orphanage-remove {
	padding-left: 15%;
	width: 40%;
}

#remove-header {
	font-weight: 800;
	line-height: 70px;
}

#remove-text {
	font-weight: 600;
	line-height: 24px;

	padding-bottom: 20%;
}

#remove-button {
	padding: 5%;
	border: 0;
	cursor: pointer;
	background: #d6487b;
	border-radius: 15px;
	color: #ffffff;
	font-weight: 800;

	text-decoration: none;
	transition: background-color 0.2s;
}

#remove-button:hover {
	background: #d41d60;
}
